.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button{
  margin-top: 20px;
  background-color: aquamarine;
  font-size: 20px;
  padding: 6px 12px;
  border-radius: 15px;
}

.fakebutton{
  margin-top: 20px;
  opacity: 0;
  font-size: 20px;
  padding: 6px 12px;
  border-radius: 15px;
}


